::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

div.CodeMirror {
    color: #fff !important;
    font-size: 1.1rem;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    margin: 0;
}

.container {
    display: flex;
    height: 94vh;
    width: 100vw;
}

.files {
    background-color: #272822;
    color: #f8f8f2;
    height: 94vh;
    width: 20vw;
    overflow: auto;
    resize: horizontal;
    min-width: 60px;
    max-width: 230px;
}

.run-btn button {
    margin: 0;
    font-family: sans-serif;
    height: 2rem;
    width: 3rem;
    margin: 0 auto;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    color: #F5F5F5;
    background-color: rgb(24, 196, 98);
}

.save-btn button {
    margin: 0;
    font-family: sans-serif;
    height: 2rem;
    width: 3rem;
    margin: 0 auto;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    color: #F5F5F5;
    background-color: rgb(24, 196, 98);
}

.run-btn {
    position: relative;
    top: .25rem;
    margin-left: 10px;
    margin-right: 10px;
}

.save-btn {
    position: relative;
    top: .25rem;
    margin-left: 10px;
    margin-right: 10px;
}

.editor {
    height: 94vh;
    width: 35.5vw;
    flex-grow: 1;
    resize: horizontal;
    min-width: 50px;
    border-right: solid #1b1c18 2px;
    border-left: solid #1b1c18 20px;
    max-width: 1500px;
}

.shell {
    background-color: #1b1c18;
    height: 94vh;
    width: 30.5vw;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    flex-grow: 2;
    max-width: 1500px;
}

.header {
    background-color: #1b1c18;
    height: 6vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.xterm {
    height: 100%;
}

aside {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    overflow: auto;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.spanned {
    padding-left: 5px;
}

.spanned:active {
    text-decoration: underline;
    color: #000;
}

.spanned:hover {
    text-decoration: underline;
    cursor: pointer;
}

ul.treeRoot>li ul,
ul.treeRoot>li ul {
    padding-left: 5px;
}

ul.treeRoot li {
    border-left: 1px solid #000;
}

ul.treeRoot ul li,
ul.treeRoot li {
    border-left: 2px solid #eacece;
    padding-left: 18px;
    position: relative;
    font-size: 14px;
    font-family: 'Ubuntu Mono';
    line-height: 24px;
}

ul.treeRoot ul li:last-child:after,
ul.treeRoot li:last-child:after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 12px;
    width: 1px;
    left: -1px;
    bottom: 0;
    background: #fff
}

ul.treeRoot ul li:before,
ul.treeRoot li:before {
    height: 1px;
    background: #fff;
    width: 15px;
    height: 2px;
    left: 0;
    top: 11px;
    display: inline-block;
    content: "";
    position: absolute;
}

.treeRoot li ul {
    display: none;
}

.treeRoot li ul.activeSubMenu {
    display: block;
}

i {
    padding-left: 2px;
}

#user-icon {
    color: white;
    position: absolute;
    right: 0;
    margin-right: 1.2rem;
    margin-top: 0rem;
    font-size: 1.1rem;
}

.user-icon {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: .7rem;
    font-size: 1.1rem;
}

#user-icon:hover {
    position: absolute;
    right: 0;
    margin-right: 1.2rem;
    margin-top: 0rem;
    font-size: 1.1rem;
    color: cadetblue;
    cursor: pointer;
}

.user-profile {
    background-color: transparent;
    border: none;
}

.acc-info {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center;
    background-color: #1b1c18;
    border-radius: 10px;
    border: #fff .1px solid;
    box-shadow: 3px 3px 10px;
    display: none;
}

.block {
    display: block;
}

.acc-info a {
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu Mono';
    font-size: .9rem;
}

.acc-info>a:hover {
    text-decoration: none;
    color: #fff;
    font-family: 'Ubuntu Mono';
    font-size: .9rem;
    color: cadetblue;
}

.popfolder {
    width: 30%;
    height: 15%;
    position: absolute;
    padding: 15px 10px;
    top: 30%;
    left: 35vw;
    z-index: 5;
    background-color: white;
    border-radius: 10px;
    display: none;
    place-items: center;
}

.popfoldersmoke,
.popfilesmoke {
    z-index: 4;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    content: ' ';
    background: rgba(0, 0, 0, .5);
}

.showsmoke {
    display: block;
}

.popfile {
    width: 30%;
    height: 15%;
    position: absolute;
    padding: 15px 10px;
    top: 30%;
    left: 35vw;
    z-index: 5;
    background-color: white;
    border-radius: 10px;
    display: none;
    place-items: center;
}

.fileInput {
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 4%;
    border-radius: 6px;
    width: 95%;
    border: solid 2px rgb(170, 170, 167);
}

#button {
    width: 5rem;
    height: 1.5rem;
    margin-top: .5rem;
    font-weight: 700;
    font-size: 1rem;
    background-color: rgb(5, 152, 103);
    color: white;
    border: none;
    border-radius: 6px;
    float: right;
}

.cancel-btn {
    margin-top: .5rem;
    font-weight: 700;
    font-size: 1rem;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 6px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

#cancelfile-btn {
    color: black;
}

#cancelfolder-btn {
    color: black;
}

#cancelfolder-btn:hover {
    cursor: pointer;
}

#cancelfile-btn:hover {
    cursor: pointer;
}

.file {
    /* width: 50px;
    height: 50px; */
    display: grid;
    place-items: center;
    margin-right: 50px;
    float: left;
    font-size: 1rem;
    color: #F5F5F5;
    font-family: 'Ubuntu Mono';
}