body {
    background-color: rgb(5, 152, 103);
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    top: 25%;
    width: 50%;
    margin: 0;
    max-width: 300px;
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-left: 2%;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.inputs {
    margin-bottom: 15px;
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    font-size: 1rem;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 4%;
    border-radius: 6px;
    border: solid 2px rgb(207, 207, 204);
}

#password {
    margin-bottom: 10px;
}

.forgot-password {
    font-size: 1rem;
    text-decoration: none;
    font-size: .9rem;
    color: rgb(5, 152, 103);
}

.login-btn {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

#button {
    width: 100%;
    padding: 9px;
    font-weight: 700;
    font-size: 1rem;
    background-color: rgb(5, 152, 103);
    color: white;
    border: none;
    border-radius: 6px;
}

#button:hover {
    cursor: pointer;
}

h5 {
    font-size: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
}

h5 a {
    color: rgb(5, 152, 103);
}