<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/index.css"> -->
    <title>PyDE</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="logo">
                <a href="#">PyDE</a>
            </div>
            <button class="menu-button" id="menuButton">
                <i class="fa-solid fa-bars fa-2xl"></i>
            </button>
            <div class="ul-links">
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="#about" id="aboutlink">About</a></li>
                </ul>
            </div>
            <div class="ul-link">
                <button class="menubutton" id="menuButton2">
                    <i class="fa-solid fa-xmark fa-2xl"></i>
                </button>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="#about" id="aboutlink2">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="cover"></div>
        <div class="hero-content">
            <h1>PyDE</h1>
            <p>A Python Playground</p>
            <a href="{{ url_for('auth.Signup') }}" class="get-started">GET STARTED</a>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <h1>Features</h1>
            <h2>Easy to Use</h2>
            <div class="easy-image"></div>
            <p>User-friendly and a straight foward interface for new users</p>
        </div>
        <div class="feature">
            <h2>Secure</h2>
            <div class="secure-image"></div>
            <div class="secure-image2"></div>
            <p>Robust security measures to protect user data and files.</p>
        </div>
        <div class="feature">
            <h2>Isolated Environment</h2>
            <div class="availability-image"></div>
            <p>An isolated Environment for each user to execute codes securely</p>
        </div>
    </section>
    <section class="about">
        <h2>About</h2>
        <p>PyDE is a web-based integrated development environment (IDE) tailored for Python programmers. It provides a comprehensive platform for writing, editing, and executing Python code entirely within a web browser. The aim is to offer a seamless coding
            experience with essential features like code editing, file management, syntax highlighting, and real-time code execution in an isolated environment for each user.</p>
        <a href="https://github.com/aqib-abdullahi" target="_blank">My Github Profile</a>
        <a href="https://www.linkedin.com/in/aqib-abdullahi/" target="_blank">My LinkedIn </a>
        <a href="https://twitter.com/aqibabdullahi" target="_blank">My Twitter Profile</a><br><br><br><br>
        <a href="https://github.com/aqib-abdullahi/PyDE" target="_blank">Link to Repository </a>
    </section>

    <section class="footer">
        <footer class="footer">
            <p>&copy; 2024 PyDE. All rights reserved.</p>
        </footer>
    </section>
</body>
<script src="https://kit.fontawesome.com/0f3c732ecf.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<!-- <script src="../static/js/index.js"></script> -->