<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h2><b>Login</b></h2>
        {% if form_data %}
        <h6><b>Invalid Email or Password</b></h6>
        {% endif %}
        <div class="inputs">
            <form action="{{ url_for('auth.login') }}" method="post">
                {% if form_data %}
                <input type="text" name="Email" placeholder="Enter your email" id="email" class="input" required value="{{ form_data.Email }}">{% else %}
                <input type="text" name="Email" placeholder="Enter your email" id="email" class="input" required> {% endif %}
                <input type="password" name="Password" placeholder="Enter your password" id="password" class="input" required>
                <a href="#" class="forgot-password">Forgot password?</a><br>
                <div class="login-btn">
                    <input type="submit" value="Login" id="button">
                </div>
            </form>
        </div>
        <h5>Don't have an account? <a href="{{ url_for('auth.Signup') }}">Signup</a></h5>
    </div>

</body>

</html>