<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <h2><b>Login</b></h2>
        <div class="inputs">
            <form action="signup.html" method="post">
                <input type="text" name="" placeholder="Enter your email" id="email" class="input" required>
                <input type="password" name="" placeholder="Enter your password" id="password" class="input" required>
                <a href="#" class="forgot-password">Forgot password?</a><br>
                <div class="login-btn">
                    <input type="submit" value="Login" id="button">
                </div>
            </form>
        </div>
        <h5>Don't have an account? <a href="#">Signup</a></h5>
    </div>

</body>

</html>