<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/signup.css">
    <title>Signup</title>
</head>

<body>
    <div class="container">
        <h2><b>Signup</b></h2>
        <div class="inputs">
            <form action="#" method="post">
                <input type="text" name="email" placeholder="Enter your email" id="email" class="input" required>
                <input type="password" name="password" placeholder="Create a password" id="password" class="input" required>
                <input type="password" name="password" placeholder="Confirm your password" id="password" class="input" required>
                <div class="Signup-btn">
                    <input type="submit" value="Signup" class="signup">
                </div>
            </form>
        </div>
        <h5>Already have an account? <a href="#">Login</a></h5>
    </div>

</body>

</html>